.swiper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 30vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper img {
  object-fit: contain;
  width: auto;
  height: 100%;
}
